html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.contanier {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../img/bg1.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.scratchBox {
    position: absolute;
    /* border: 5px solid gray; */
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: 220px;
}

.scratchBox canvas {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper {
    height: 60px;
    width: 90%;
    display: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    position: absolute;
    bottom: calc(10vh + 250px);
    left: 50%;
    transform: translateX(-50%);
    /* margin-top: -30px; */
}

.inputbox {
    box-sizing: border-box;
    width: calc(100% - 60px);
    height: 100%;
    font-size: 22px;
    background-color: #FFFFFF;
    border: 2px solid #E1E8ED;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    padding: 10px;
    float: left;
    display: block;
}

.submit {
    height: 100%;
    width: 60px;
    float: left;
    border: 2px solid #E1E8ED;
    border-left: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;

    border-radius: 0 4px 4px 0;
    text-indent: -200em;
    overflow: hidden;
    display: block;
    cursor: pointer;
    transform: rotate(-90deg);
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cpath fill='%23B4D7EC' d='M145.659,68.949c-5.101-5.208-13.372-5.208-18.473,0L99.479,97.233 L71.772,68.949c-5.1-5.208-13.371-5.208-18.473,0c-5.099,5.208-5.099,13.648,0,18.857l46.18,47.14l46.181-47.14 C150.759,82.598,150.759,74.157,145.659,68.949z'/%3E%3C/svg%3E");
    ;
    -webkit-background-size: 28px auto;
    background-size: 28px auto;
    background-repeat: no-repeat;
    background-position: center center;

}

input:focus {
    outline: none;
}